#parent {
    display: flex;
    flex-direction: row;
    width: 100%;
}

#div {
    flex: 1;
    padding: 20px;
    border: 1px solid;
    text-align: center;
}

@media (max-width:800px) {
    #parent {
        flex-direction: column;
    }
}