table, th, td{
    border:medium solid;
    border-collapse: collapse;
    border-color: rgb(59, 225, 59);
    border-width: 2px;
}

#table1 tr:nth-child(1){
    background-color: rgb(16, 177, 32);
}

#table1 tr:nth-child(3){
    background-color: rgb(209, 209, 209);
}

#table1 tr:nth-child(5){
    background-color: rgb(209, 209, 209);
}