@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Open+Sans:wght@400&display=swap');

h1, h2 {
  font-family: 'Playfair Display', serif;
  color: #717171;
}
body {
  font-family: 'Open Sans', sans-serif;
  color: #200505;
  line-height: 2.6;
}