#div1 {
    width: 500px;
    height: 500px;
    background-color: black;
}

#div1:hover {
    animation-name: bg-and-deg-change;
    animation-duration: 3s;
}

@keyframes bg-and-deg-change {
    0% {
        background-color: black;
    }
    50% {
        background-color: green;
        transform: rotate(180deg);
    }
    100% {
        background-color: blue;
        transform: rotate(180deg);
    }
}