#button-red{
    color: #4635b1;
    background-color: #B771E5;
}
#button-green{
    color: #b771e5;
    background-color: #AEEA94;
}

#button-blue{
    color: #eb5a3c;
    background-color: #DF9755;
}