a{
    color: #ff573f;
}

a:hover{
    color: #C70039;
}

#a1 {
    color: #FF5733;
    text-decoration: none;
}

a:hover {
    color: #C70039;
    text-decoration: underline;
}

#a2{
    color: blue;
    text-decoration: none;
}

a:hover {
    color: green;
    text-decoration: underline;
}

#a3{
    color: #5cff33;
    text-decoration: none;
}

a:hover{
    color: #c000c7;
}

#a4{
    color: #FF5733;
    text-decoration: none;
}

a:visited {
    color: #900C3F;
}

a:hover {
    color: #C70039;
}

#a5{
    color: #FF5733; 
    text-decoration: none; 
    padding: 5px;
}

a:visited {
    color: #900C3F;
}

a:hover {
    color: #C70039;
    background-color: #F1C40F; 
}

a{
    font-weight: bold;
}

a.some-class{
    font-weight: bold;
}

#a-specific-link{
    font-weight: bold;
}
  