table, th, td{
    border: square 1px;
    border-collapse: collapse;
    background-color: #f2f2f2;
}

#table1 tr:nth-child(1){
    background-color: rgb(199, 53, 53);
    color: white;
}

#table1 tr:nth-child(3){
    background-color: #f2f2f2;
}

#table1 tr:nth-child(5){
    background-color: #f2f2f2;
}